{% extends "base.html.twig" %}

{% block title %}Toutes les annonces{% endblock %}
{% block meta_desc %}Retrouvez sur cette page toutes les annonces du site Les Petites Annonces.{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1>Toutes les annonces :</h1>

            <div class="row">
                {% for advert in advertArray %}
                    <div class="col-md-6 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters h-100">
                                <div class="col-md-4">
                                    <img src="{{ advert.photo1 }}" class="card-img h-100" alt="Photo fictive de l'annonce" style="object-fit: cover">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title"><span style="color: {{ advert.category.color }}">{{ advert.category.name }}</span> : {{ advert.title }}</h2>
                                        <p class="card-subtitle mb-2 text-muted">{{ advert.price|format_currency('EUR') }}</p>
                                        <p class="card-text">{{ advert.content|slice(0, 75) }}...</p>
                                        <p class="card-text"><small class="text-muted">Code postale : {{ advert.postalCode|number_format(0, '.', ' ') }}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Posté le {{ advert.creationDate|date("d-m-Y à H:m") }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
