{% extends "base.html.twig" %}

{% block title %}Ajouter une annonce{% endblock %}
{% block meta_desc %}Cette page permet d'ajouter une annonce.{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1>Ajouter une annonce :</h1>

            <form action="{{ path('app.advert_create') }}" method="post">
                {{ form_widget(form) }}
                <input type="submit">
            </form>
        </div>
    </main>
{% endblock %}
