<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://cdn.pixabay.com/photo/2014/04/02/10/16/fire-303309_960_720.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
            Les Petites Annonces
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/annonces.html">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nouvelle-annonce.html">Ajouter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>